@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: rgb(231,138,255);
    /* background: linear-gradient(rgba(231,138,255,1) 0%, rgba(128,221,252,1) 100%); */
    background: linear-gradient(rgba(231,138,255,1) 0%, rgba(136,225,255,1) 73%);
    
    display: flex;
}

.container {
    margin: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.container ul::before {
    content: '';
    width: 0;
    height: 100%;
    border: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.container ul li {
    margin: 40px 30px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

.container ul li > span {
    width: 0;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: -30px;
}

.container ul li > span::before, .container ul li > span::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fc9a80;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.container ul li > span::before {
    top: -5px;
}

.container ul li > span::after {
    top:calc(100% - 5px);
}

.container ul li > div {
    margin-left: 10px;  
}

.container div .title, .container div .type {
    font-weight: 600;
    font-size: 12px;
}

.container div .info {
    font-weight: 300;
}

.container div > div {
    margin-top: 5px;
}

.container span.number {
    height: 100%;
}

.container span.number span {
    position: absolute;
    font-size: 10px;
    left: -35px;
    font-weight: bold;
}

.container span.number span:first-child {
    top: -5px;
}

.container span.number span:last-child {
    top: calc(100% - 5px);
}




/* loader */

.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
  }
  
  .loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
  }
  
  .loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #000;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
  }
  
  @keyframes a1 {
    to{
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to{
      transform: rotate(-360deg);
    }
  }
  