@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: rgb(231,138,255);
    background: linear-gradient(rgba(231,138,255,1) 0%, rgba(136,225,255,1) 73%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.container ul.timeline::before {
    content: '';
    width: 0;
    height: 100%;
    border: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.container ul.timeline li {
    margin: 40px 30px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

.container ul.timeline li > span {
    width: 0;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: -30px;
}

.container ul.timeline li > span::before, .container ul.timeline li > span::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fc9a80;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.container ul.timeline li > span::before {
    top: -5px;
}

.container ul.timeline li > span::after {
    top:calc(100% - 5px);
}

.container ul.timeline li > div {
    margin-left: 10px;  
}

.container div .title, .container div .type {
    font-weight: 600;
    font-size: 12px;
}

.container div .info {
    font-weight: 300;
}

.container div > div {
    margin-top: 5px;
}

.container span.number {
    height: 100%;
}

.container span.number span {
    position: absolute;
    font-size: 10px;
    left: -35px;
    font-weight: bold;
}

.container span.number span:first-child {
    top: -5px;
}

.container span.number span:last-child {
    top: calc(100% - 5px);
}




/* loader */

.loader{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}

.loader::before,.loader::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loader::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loader::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loader span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #000;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to{
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to{
        transform: rotate(-360deg);
    }
}

/* hover */

.container ul.gradient-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container ul.gradient-list li {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.container ul.gradient-list li:after, .container ul.gradient-list li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #000;
    filter: blur(20px);
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

.container ul.gradient-list li:after {
    filter: blur(40px);
}

.container ul.gradient-list li:hover::before, .container ul.gradient-list li:hover:after {
    opacity: 1;
}

.container ul.gradient-list li a{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 36px;
    background: #000;
    border-radius: 50%;
}

.container ul.gradient-list li a .fa, .container ul.gradient-list li a .far, .container ul.gradient-list li a .fas, .container ul.gradient-list li a .fab {
    text-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: 0.5s;
    transform: rotateY(0deg) scale(0.8);
    opacity: 0.2;
}

.container ul.gradient-list li a:hover .fa, .container ul.gradient-list li a:hover .far, .container ul.gradient-list li a:hover .fas, .container ul.gradient-list li a:hover .fab {
    opacity: 1;
    transform: scale(1.2);
}

.container ul.gradient-list li:nth-child(1) a,
.container ul.gradient-list li:nth-child(1):before,
.container ul.gradient-list li:nth-child(1):after {
    background: linear-gradient(45deg,#ff0057,#e64a19);
}

.container ul.gradient-list li:nth-child(2) a,
.container ul.gradient-list li:nth-child(2):before,
.container ul.gradient-list li:nth-child(2):after {
    background: linear-gradient(45deg,#89ff00,#00bcd4);
}

.container ul.gradient-list li:nth-child(3) a,
.container ul.gradient-list li:nth-child(3):before,
.container ul.gradient-list li:nth-child(3):after {
    background: linear-gradient(45deg,#e91e63,#5d02ff);
}

.container ul.gradient-list li:nth-child(4) a,
.container ul.gradient-list li:nth-child(4):before,
.container ul.gradient-list li:nth-child(4):after {
    background: linear-gradient(45deg,#ff0000,#ffc107);
}

/* Box Border Hover Effects */

.card {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
    font-family: 'Poppins', sans-serif;
}
.card .box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.card .box:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.card .box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.card .box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.card .box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.card .box:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.card .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.05);
    pointer-events: none;
}

.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.box .content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,.05);
    transition: 0.5s;
}
.box:hover .content h2 {
    top: -140px;
}

.box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.box .content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover {
    background: #000;
    color: #fff;
}